#wraper{
	width:1000px;
	margin: 0 auto;
	background: linear-gradient(45deg,red,white,green);
}
#logo>img, div{
	border:1px solid red;
}
#logo>img{
	margin-left:30px;
}
#menu, #footer{
	padding:20px 0px;
	background-color:white;
}
#top, #center, #footer>p:last-child, #menu, #footer{
	text-align: center;
}

#footer>p:first-child{
	text-align:right;
}
#center>div{
	display: inline-block;
	border:0px;
	
}
#center div>p{
	text-align:left;
}

#second{
	margin-left:90px;
}
